/* About.css */
.about {
    padding: 60px;
    background-color: #ecf0f1;
  }
  
  .about h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 20px;
  }
  
  .about img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  