@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Contact.css */
.contact {
  font-family: 'Poppins';
  padding: 60px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 16.4rem;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.contact form {
  display: inline-block;
  max-width: 500px;
  width: 100%;
}

.contact input, 
.contact textarea {
  font-family: 'Poppins';
  font-weight: 500;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.2rem;
  background-color: #FABC3F;
  color: black;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
}

.contact button:hover {
  background-color: #cf9b33;
}

.contact .map-google{
  width: 600;
  height: 450;
}